@charset "UTF-8";
/* WEBフォントというものを読み込んでいます。このコメントは削除してください。 */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500,700,900&display=swap');

/* 初期設定 */
#wrapper {
    width: 100%;
    line-height: 1.5;
    font-family: 'Noto Sans JP', 'ヒラギノ角ゴ Pro W', 'Hiragino Kaku Gothic Pro', 'メイリオ', '游ゴシック', '游ゴシック体', sans-serif;
    overflow: hidden;
}

/* コンテナー */
.container {
    display: flex;
    width: 80%;
    max-width: 960px;
    margin: 0 auto 5em;
    font-size: 2rem;
    font-weight: 500;
    color: #ffffff;
    background: #F2F2F2;
}

/* コンテンツ */
.boxA {
    background: #F08E38;
}
.boxB {
    background: #78BF70;
}
.boxC{
    background: #5485F0;
}
/* 上記のように、共通しているようなスタイルは上の方に書いておくと良いでしょう。このコメントは削除してください。 */

/* ① */
.flex-container1 {
    justify-content: center;
    padding-bottom: 5em;
}
.flex-container1 > .boxA, .flex-container1 > .boxB, .flex-container1 > .boxC {
    width: 25%;
    padding: 0.5em 1.3em;
}

/* ② */

/* ③ */

/* ④ */

/* ⑤ */

/* ⑥ */